In [1]:
import pandas as pd
import os
inpath = os.path.join('.','Input_Data')
outpath = os.path.join('..','Load')

In [2]:
def scrape_naics(code):
    
    # set the specific url
    url = f'https://www.naics.com/six-digit-naics/?code={code}'
    
    # Pull the table from the URL into a list
    tables = pd.read_html(url)

    df = tables[0]
    df.columns = ['NAICS_code', 'Industry_Title', 'Num_Businesses']
    
    print(f"NAICS codes read for code group {code} with {len(df)} rows.")
    
    return df

In [3]:
naics_11 = scrape_naics('11')
naics_21 = scrape_naics('21')
naics_22 = scrape_naics('22')
naics_3133 = scrape_naics('31-33')
naics_42 = scrape_naics('42')
naics_4445 = scrape_naics('44-45')
naics_4849 = scrape_naics('48-49')
naics_51 = scrape_naics('51')
naics_52 = scrape_naics('52')
naics_53 = scrape_naics('53')
naics_54 = scrape_naics('54')
naics_55 = scrape_naics('55')
naics_56 = scrape_naics('56')
naics_61 = scrape_naics('61')
naics_62 = scrape_naics('62')
naics_71 = scrape_naics('71')
naics_72 = scrape_naics('72')
naics_81 = scrape_naics('81')
naics_92 = scrape_naics('92')

NAICS codes read for code group 11 with 84 rows.
NAICS codes read for code group 21 with 34 rows.
NAICS codes read for code group 22 with 18 rows.
NAICS codes read for code group 31-33 with 447 rows.
NAICS codes read for code group 42 with 91 rows.
NAICS codes read for code group 44-45 with 94 rows.
NAICS codes read for code group 48-49 with 87 rows.
NAICS codes read for code group 51 with 43 rows.
NAICS codes read for code group 52 with 53 rows.
NAICS codes read for code group 53 with 33 rows.
NAICS codes read for code group 54 with 59 rows.
NAICS codes read for code group 55 with 5 rows.
NAICS codes read for code group 56 with 56 rows.
NAICS codes read for code group 61 with 25 rows.
NAICS codes read for code group 62 with 58 rows.
NAICS codes read for code group 71 with 35 rows.
NAICS codes read for code group 72 with 22 rows.
NAICS codes read for code group 81 with 64 rows.
NAICS codes read for code group 92 with 38 rows.

In [4]:
naics=pd.concat([naics_11, naics_21, naics_22, naics_3133, naics_42,\
                 naics_4445, naics_4849, naics_51, naics_52, naics_53,\
                 naics_54, naics_55, naics_56, naics_61, naics_62,\
                 naics_71, naics_72, naics_81, naics_92], axis=0, ignore_index=True)
print(f"NAICS dataframe has {len(naics)} rows.")
naics.head()

NAICS dataframe has 1346 rows.

  NAICS_code                              Industry_Title  Num_Businesses
0         11  Agriculture, Forestry, Fishing and Hunting          350038
1       1111                   Oilseed and Grain Farming           55359
2     111110                             Soybean Farming            4590
3     111120            Oilseed (except Soybean) Farming             154
4     111130                    Dry Pea and Bean Farming            3430

In [5]:
# Export file as a CSV, without the Pandas index, but with the header ##
outfile = os.path.join(outpath,'naics.csv')
naics.to_csv(outfile,index=False)