In [38]:
import sys
import json
import csv 
import os
import pandas as pd

In [39]:
data_folder = os.path.join('.','Data')
xlsfile = os.path.join(data_folder,'laucnty18.xlsx')
jsonfile = os.path.join(data_folder,'cb_2018_us_county_20m.json')
geojsonfile = os.path.join(data_folder,'CountiesPlusUnemp2018.geojson')

In [83]:
xl = pd.ExcelFile(xlsfile)
df = xl.parse("laucnty18")
df.columns = ['a', 'STATEFP','COUNTYFP','FullCountyName','Year','b','LaborForce','Employed','Unemployed','UnemploymentRate']

# keep only lines that are data entries, not title lines or blanks
df = df.loc[df["Year"]=="2018",:]

In [84]:
# separate the state from the county name
# new data frame with split value columns 
new = df["FullCountyName"].str.split(",", n = 1, expand = True) 
new.head()

# making separate first name column from new data frame 
df["CountyName"]= new[0] 
  
# making separate last name column from new data frame 
df["StateAbbr"]= new[1] 
  
# Dropping old Name columns 
df.drop(columns =['a','b',"FullCountyName"], inplace = True) 
df.head()

,STATEFP,COUNTYFP,Year,LaborForce,Employed,Unemployed,UnemploymentRate,CountyName,StateAbbr
5,01,001,2018,25957,25015,942,3.6,Autauga County,AL
6,01,003,2018,93849,90456,3393,3.6,Baldwin County,AL
7,01,005,2018,8373,7940,433,5.2,Barbour County,AL
8,01,007,2018,8661,8317,344,4,Bibb County,AL
9,01,009,2018,25006,24128,878,3.5,Blount County,AL

In [85]:
# take out eol characters\
df['STATEFP'] = df['STATEFP'].str.extract('(\d+)', expand=False)
df.STATEFP.unique()

array(['01', '02', '04', '05', '06', '08', '09', '10', '11', '12', '13',
       '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25',
       '26', '27', '28', '29', '30', '31', '32', '33', '34', '35', '36',
       '37', '38', '39', '40', '41', '42', '44', '45', '46', '47', '48',
       '49', '50', '51', '53', '54', '55', '56', '72'], dtype=object)

In [86]:
df['COUNTYFP'] = df['COUNTYFP'].str.extract('(\d+)', expand=False)
df.COUNTYFP.unique()

array(['001', '003', '005', '007', '009', '011', '013', '015', '017',
       '019', '021', '023', '025', '027', '029', '031', '033', '035',
       '037', '039', '041', '043', '045', '047', '049', '051', '053',
       '055', '057', '059', '061', '063', '065', '067', '069', '071',
       '073', '075', '077', '079', '081', '083', '085', '087', '089',
       '091', '093', '095', '097', '099', '101', '103', '105', '107',
       '109', '111', '113', '115', '117', '119', '121', '123', '125',
       '127', '129', '131', '133', '016', '020', '050', '060', '068',
       '070', '090', '100', '110', '122', '130', '150', '158', '164',
       '170', '180', '185', '188', '195', '198', '220', '230', '240',
       '261', '275', '282', '290', '012', '135', '137', '139', '141',
       '143', '145', '147', '149', '014', '086', '151', '153', '155',
       '157', '159', '161', '163', '165', '167', '169', '171', '173',
       '175', '177', '179', '181', '183', '187', '189', '191', '193',
       '197', '199', '201', '205', '207', '209', '211', '213', '215',
       '217', '219', '221', '223', '225', '227', '229', '231', '233',
       '235', '237', '239', '241', '243', '245', '247', '249', '251',
       '253', '255', '257', '259', '263', '265', '267', '269', '271',
       '273', '277', '279', '281', '283', '285', '287', '289', '291',
       '293', '295', '297', '299', '301', '303', '305', '307', '309',
       '311', '313', '315', '317', '319', '321', '203', '510', '186',
       '006', '028', '102', '323', '325', '327', '329', '331', '333',
       '335', '337', '339', '341', '343', '345', '347', '349', '351',
       '353', '355', '357', '359', '361', '363', '365', '367', '369',
       '371', '373', '375', '377', '379', '381', '383', '385', '387',
       '389', '391', '393', '395', '397', '399', '401', '403', '405',
       '407', '409', '411', '413', '415', '417', '419', '421', '423',
       '425', '427', '429', '431', '433', '435', '437', '439', '441',
       '443', '445', '447', '449', '451', '453', '455', '457', '459',
       '461', '463', '465', '467', '469', '471', '473', '475', '477',
       '479', '481', '483', '485', '487', '489', '491', '493', '495',
       '497', '499', '501', '503', '505', '507', '036', '520', '530',
       '540', '550', '570', '580', '590', '595', '600', '610', '620',
       '630', '640', '650', '660', '670', '678', '680', '683', '685',
       '690', '700', '710', '720', '730', '735', '740', '750', '760',
       '770', '775', '790', '800', '810', '820', '830', '840', '078',
       '054'], dtype=object)

In [87]:
df['LaborForce'] = df['LaborForce'].astype(int)
df.LaborForce.unique()

array([25957, 93849,  8373, ...,  7329,  8826,  9770], dtype=int64)

In [88]:
df['Employed'] = df['Employed'].astype(int)
df.Employed.unique()

array([25015, 90456,  7940, ...,  6164,  7566,  8329], dtype=int64)

In [89]:
df['Unemployed'] = df['Unemployed'].astype(int)
df.Unemployed.unique()

array([ 942, 3393,  433, ..., 1381, 1373, 1260], dtype=int64)

In [90]:
df['UnemploymentRate'] = df['UnemploymentRate'].astype(float)
df.UnemploymentRate.unique()

array([ 3.6,  5.2,  4. ,  3.5,  4.7,  4.8,  3.9,  5.5,  7.5,  4.2,  4.6,
        4.1,  3.3,  6.5,  3.8,  3.4,  3.7,  6.7,  5.1,  4.4,  7.3,  5. ,
        6.2,  4.5,  2.9,  5.9,  4.3,  5.8,  9.6,  3. , 12.8,  6.3,  7.8,
        8.2,  9.5, 12.6,  7.7,  6. , 19.9, 11.6,  7.6,  7. , 14.2,  8.7,
       10.9,  9.8,  7.4, 15.3, 10.1,  5.6,  9.3, 17. ,  3.2,  6.9,  3.1,
        5.3,  5.7,  6.1,  2.6, 12.9, 18.1,  8. ,  2.4,  8.3,  2.2,  4.9,
        2.7,  6.4,  1.8,  2.8,  2.5,  2. ,  1.9,  5.4,  6.8,  6.6,  2.3,
        2.1,  1.7,  7.9,  1.5,  1.6,  9.2,  7.1,  7.2,  8.4, 13.2, 10.3,
        9.7,  8.6,  8.1,  8.9,  9. , 13.3,  8.5, 11.9,  1.3,  9.4,  8.8,
        9.9, 11.7, 10.4, 13.8, 11.2, 12.4, 13.7, 11.8, 10.2, 13.5, 12.5,
       13.9, 15.5, 14.4, 12.7, 11.5, 10.6, 10.7, 16.1, 14.1, 15.1, 11.3,
       11.1, 12.3, 17.7, 14.8, 12.1, 14.6, 16.5, 15.9, 14.3, 14.7])

In [106]:
# Create blank dictionaries that will be come the employment data and the final geojson
empdata = {}
geojson = {}
df.head()

,STATEFP,COUNTYFP,Year,LaborForce,Employed,Unemployed,UnemploymentRate,CountyName,StateAbbr
5,01,001,2018,25957,25015,942,3.6,Autauga County,AL
6,01,003,2018,93849,90456,3393,3.6,Baldwin County,AL
7,01,005,2018,8373,7940,433,5.2,Barbour County,AL
8,01,007,2018,8661,8317,344,4.0,Bibb County,AL
9,01,009,2018,25006,24128,878,3.5,Blount County,AL

In [107]:
for row,rowvals in df.iterrows():
    if row < 5:
        print(f'row = {row}, rowvals = {rowvals}')
            
    if 'STATEFP' not in empdata:
        empdata['STATEFP']={}
        empdata['COUNTYFP']={}
        
    empdata[rowvals[0]][rowvals[1]] = {
        'LaborForce': rowvals[3],
        'Employed': rowvals[4],
        'Unemployed': rowvals[5],
        'UnemploymentRate': rowvals[6]
    }

NameError: name 'LaborForce' is not defined

In [102]:

    statefip = row[0]
    countyfip = row[1]
    labor_force = row[3]
    employed = row[4]
    unemployment_level = row[5]
    unemployment_rate = row[6]
    
    if statefip not in empdata:
        empdata[statefip]={}
        
    empdata[statefip][countyfip] = {
        'labor_force': labor_force,
        'employed': employed,
        'unemployment_level': unemployment_level,
        'unemployment_rate': unemployment_rate
    }

IndentationError: unexpected indent (<ipython-input-102-d5145e48172a>, line 2)